:root {
  --blackblack-500: rgba(35, 31, 32, 1);
  --purplepurple-500: rgba(121, 87, 255, 1);
  --blackblack-50: rgba(233, 233, 233, 1);
  --blackblack-100: rgba(187, 186, 186, 1);
  --blackblack-300: rgba(108, 105, 106, 1);
  --blackblack-600: rgba(32, 28, 29, 1);
  --blackblack-400: rgba(79, 76, 77, 1);
  --purplepurple-700: rgba(86, 62, 181, 1);
  --purplepurple-400: rgba(148, 121, 255, 1);
  --purplepurple-100: rgba(213, 203, 255, 1);
  --purplepurple-50: rgba(242, 238, 255, 1);
  --body-b1-bold-font-family: "Lato-Bold", Helvetica;
  --body-b1-bold-font-weight: 700;
  --body-b1-bold-font-size: 16px;
  --body-b1-bold-letter-spacing: 0px;
  --body-b1-bold-line-height: 24px;
  --body-b1-bold-font-style: normal;
  --body-b1-regular-font-family: "Lato-Regular", Helvetica;
  --body-b1-regular-font-weight: 400;
  --body-b1-regular-font-size: 16px;
  --body-b1-regular-letter-spacing: 0px;
  --body-b1-regular-line-height: 24px;
  --body-b1-regular-font-style: normal;
  --body-b2-bold-font-family: "Lato-Bold", Helvetica;
  --body-b2-bold-font-weight: 700;
  --body-b2-bold-font-size: 18px;
  --body-b2-bold-letter-spacing: 0px;
  --body-b2-bold-line-height: 26px;
  --body-b2-bold-font-style: normal;
  --body-b3-bold-font-family: "Lato-Bold", Helvetica;
  --body-b3-bold-font-weight: 700;
  --body-b3-bold-font-size: 20px;
  --body-b3-bold-letter-spacing: 0px;
  --body-b3-bold-line-height: 30px;
  --body-b3-bold-font-style: normal;
  --small-s2-regular-font-family: "Lato-Regular", Helvetica;
  --small-s2-regular-font-weight: 400;
  --small-s2-regular-font-size: 13px;
  --small-s2-regular-letter-spacing: 0px;
  --small-s2-regular-line-height: 20px;
  --small-s2-regular-font-style: normal;
  --small-s2-bold-font-family: "Lato-Bold", Helvetica;
  --small-s2-bold-font-weight: 700;
  --small-s2-bold-font-size: 13px;
  --small-s2-bold-letter-spacing: 0px;
  --small-s2-bold-line-height: 20px;
  --small-s2-bold-font-style: normal;
  --small-s1-bold-font-family: "Lato-Bold", Helvetica;
  --small-s1-bold-font-weight: 700;
  --small-s1-bold-font-size: 10px;
  --small-s1-bold-letter-spacing: 0px;
  --small-s1-bold-line-height: 18px;
  --small-s1-bold-font-style: normal;
  --shadow-md: 0px 4px 20px 0px rgba(16, 24, 40, 0.07), 0px 1px 4px 0px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0px 0px 8px -4px rgba(15, 23, 42, 0.05), 0px 5px 24px -4px rgba(15, 23, 42, 0.15);
}
